# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
importFrom(Jmisc, demean)
importFrom(stats, ar, dist, filter, lm, median, pnorm, quantile, rnorm, sd, var)
importFrom(funtimes,dbscan)
